* {
    margin: 0px;
}

.contenidoPrincipal {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contenedor {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.contenedor img {
    width: 100px;
}

a {
    font-size: 20px;
    color: rgb(21, 21, 22);
}