* {
    margin: 0px;
}

.contenidoPrincipal {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contenedor {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.contenedor img {
    width: 80px;
}